@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-2px) rotate(-1deg);
    }
    40% {
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      transform: translateX(-2px) rotate(-1deg);
    }
    80% {
      transform: translateX(2px) rotate(1deg);
    }
    100% {
      transform: translateX(0);
    }
  }

  
  
  .vibrate {
    animation: vibrate 0.3s ease infinite;
  }
  